*{
    background-color: rgb(136, 182, 106);
}
h1{
    color: blue;
    font-size: 3em;
    text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.box{
    background-color: rgb(30, 220, 233);
    padding: 20px;
    height : 20px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
}
